@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
    --background-color: #fff9f9;
    --font-color: #ff0000;
    --accent-color: #F6770F;
    font-size: 16px;
}

body {
    font-family: 'Staatliches', cursive;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 64px auto 64px auto;
	max-width: 960px;
	text-align: center;
}

h1 {
	margin: 0 0 48px 0;
    font-size: 4rem;
}

span {
	margin-inline: 8px;
}

.players circle {
    fill: var(--font-color);
    stroke: var(--accent-color);
    stroke-width: 3px;
}

text.x-axis,
text.y-axis {
	fill: var(--font-color);
	font-size: 24px;
	text-anchor: middle;
}

g.players rect {
	fill: var(--font-color);
	opacity: 0;
	transition: opacity 0.25s;
}

.players text {
    fill: var(--background-color);
    opacity: 0;
    transition: opacity 0.25s;
    text-anchor: middle;
}

g.players:hover rect,
g.players:hover text {
	opacity: 1;
}

.player-image {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

