@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
    --background-color: #252525;
    --font-color: #FF7B0B;
    --accent-color: #F6770F;
    font-size: 16px;
}

body {
    font-family: 'Staatliches', cursive;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 64px auto 64px auto;
	max-width: 960px;
	text-align: center;
}

h1 {
	margin: 0 0 48px 0;
    font-size: 4rem;
}

span {
	margin-inline: 8px;
}

.players circle {
    fill: var(--font-color);
    stroke: var(--accent-color);
    stroke-width: 3px;
}

text.x-axis,
text.y-axis {
	fill: var(--font-color);
	font-size: 24px;
	text-anchor: middle;
}

g.players rect {
	fill: var(--primary-color);
	opacity: 0;
	transition: opacity 0.25s;
}

g.players:hover rect,
g.players:hover text {
	opacity: 1;
}

