@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
    --background-color: #FCFFF7;
    --font-color: #960811;
    --accent-color: #F6770F;
    font-size: 16px;
}





body {
    font-family: 'Staatliches', cursive;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 4rem auto 4rem auto;
	max-width: 960px;
	text-align: center;
}

h1 {
	margin: 0 0 3rem 0;
    font-size: 3rem;
}

span {
	margin-inline: 0.5rem;
}

.players circle {
    stroke: var(--font-color);
    stroke-width: 3px;
}

text.x-axis,
text.y-axis {
	fill: var(--font-color);
	font-size: 1.5rem;
	text-anchor: middle;
}

g.players rect {
	fill: var(--font-color);
	opacity: 0;
	transition: opacity 0.25s;
}

.players text {
    fill: var(--background-color);
    opacity: 0;
    transition: opacity 0.25s;
    text-anchor: middle;
}

g.players:hover rect,
g.players:hover text {
	opacity: 1;
}

.player-image {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

line {
    stroke-width: 1px;
    stroke-dasharray: 2 8;
}

path.domain {
    stroke-width: 3px;
}

@media (max-width: 1000px) {

    body {
        margin: 20px;
    }
}

@media (max-width: 650px) {

    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 440px) {

    form {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        margin: auto;
    }

    form span {
        margin-block: 0.5rem;
    }
    
    text {
        font-size: 1rem;
    }
    
}
